/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- rgb(13, 110, 0)
- rgb(109, 0, 251)
- rgb(219, 255, 57)
- rgb(116, 201, 241)
- rgb(251, 64, 64)

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/



h1{
    color: blueviolet;
    text-decoration-line: underline ;
    text-decoration-color:blueviolet ;
    margin-left: 500px;
}
#row1-section1{
    margin-left: 250px;
    border-width: 7px;
    border: groove;

}
#row1-section2{
   background-color:rgb(0, 157, 255);
  border-style: groove;
  border-width: 7px;
  border-color: rgb(255, 153, 0);
  padding: 50px;
  
}
#row2-section1{
    margin-left: 500px;
    border: groove;
    border-color: red;
}
#row2-section2{
    background-color: red;
    border-style: groove;
    border-width: 7px;
    padding: 50px;
}
#AJ1
{
margin-right: 50px;
}